<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weightliftingapp">
    <!-- "AR Optional" apps must declare minSdkVersion ≥ 14 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ARBarbellActivity"></activity>
        <activity android:name=".ARWeightResultsActivity" />
        <activity
            android:name=".ui.login.wLoginActivity"
            android:label="@string/title_activity_w_login" />
        <activity android:name=".Wilks.WilksCalculatorActivity">
            <!--Action View intent filters allow content on our app to -->
            <!--be searchableand index by googl'e search engine-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".AchievementsActivity" />
        <activity android:name=".IPF.IPFCalculatorActivity" />
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CalculatorSelectionActivity" />
        <activity android:name=".OneRepMax.RepMaxCalculatorActivity" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".LoadingScreenSplashActivity"
            android:theme="@style/LoadingSplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
        </activity>
        <!--
 Indicates that app supports, but does not require ARCore ("AR Optional").
         Unlike "AR Required" apps, Google Play Store will not automatically
         download and install ARCore when the app is installed.
        -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />
    </application>

</manifest>